%% -*- erlang -*-
{erl_opts, [debug_info,
	    {i, "src"},
	    {i, "include"},
	    {outdir, "ebin"}
	   ]}.
{deps, [
    {poolboy, ".*", {git, "git@github.com:devinus/poolboy.git", "master"}}
]}.
{edoc_opts, [{overview, "./overview.edoc"},{subpackages, true}, {todo, true}]}.
{src_dirs, []}.
{lib_dirs, ["../libs"]}.
{deps_dir, "lib"}.
{cover_enabled, true}.
{cover_print_enable, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
